---
import { SITE } from 'astrowind:config';
---

<div class="flex items-center">
 <img
  src="/images/fwhalogo.png"
  alt="Fort Worth Heat & Air Logo"
  class="h-7 w-auto mr-2"
/>

  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-3xl md:text-2xl font-bold whitespace-nowrap dark:text-white text-[#3A2B1C]"
  >
    Fort Worth <span style="color: #8B2E1A">Heat</span> And <span style="color: #4e6f88">Air</span>
  </span>
</div>


